@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
        <h2>Inschrijvingen examen Taisho Lede</h2>
        <a class="btn btn-primary" asp-page="./Participants/Create">Inschrijvingen</a>
    </div>
</div>
